<div class="jumbotron bg-transparent text-center">
    <div class="row">

        <div class="card text-center col-md-4" style="padding:0px; height: 362px">
            <h6 class="card-header">
                {{authService.isLoggedIn ? 'User Authenticated' : 'Email Provider'}}
            </h6>
            <div *ngIf="authService.isLoggedIn">
                <div class="card-block"></div>
                <img class="card-img-top img-responsive photo" src="{{emailInfo?.picture}}" style="height:132px">
                <div class="card-block">
                    <h4 class="card-title">{{emailInfo?.name}}</h4>
                    <p class="card-text">{{emailInfo?.email}}</p>
                </div>
                <div class="card-block">
                    <button class="btn btn-danger" style="cursor:pointer" (click)="signout()">Sign out</button>
                </div>
            </div>
            <div *ngIf="!authService.isLoggedIn">
                <div class="card-block">
                    <!-- <h4 class="card-title">Please select mail provider</h4> -->
                    <p class="card-text">Please select mail provider</p>
                  </div>
                  <div class="card-block">
                    <button class="btn btn-social-icon btn-google" (click)="authenticate('gmail')" style="margin-right:10px; cursor: pointer;"><span class="fa fa-google"></span></button>
                    <button class="btn btn-social-icon btn-facebook" (click)="authenticate('office365')" style="cursor: pointer;"><span class="fa fa-windows"></span></button>
                  </div>
            </div>

        </div>
        <div class="col-md-8" style="padding:0px 0px 0px 20px; ">
            <div class="row" style="margin-bottom:10px" style="height: 310px">
                <div class="card text-center col-md-12" style="padding:0px 0px 10px 0px; text-align: left">
                    <h6 class="card-header">
                        Email
                    </h6>

                    <div class="row">
                        <div class="col-4" style="text-align: left; padding-left:30px; padding-top:20px">
                            <div>
                                Subject
                                <br />
                                <input type="text" [(ngModel)]="email.subject" />
                            </div>
                            <div>
                                Recipients(comma separated)
                                <br />
                                <input [(ngModel)]="recipients">
                            </div>
                        </div>
                        <div class="col-8" style="text-align: left; padding:20px 30px 0px 10px">
                            Body
                            <textarea class="form-control" rows="8" [(ngModel)]="email.body"></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin-left:3px">
                        <div class="col-1">
                            <button class="btn btn-secondary" style="cursor:pointer" (click)="send()">
                                Send
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div style="padding: 10px 0px 0px 20px">
                    <span>Tokens</span>
                    <button class="btn btn-primary" style="cursor:pointer; margin: 0px 10px" (click)="refreshToken()">Refresh</button>
                    <button class="btn btn-info" style="cursor:pointer; margin: 0px 10px" (click)="validateToken()">Validate</button>
                    <button class="btn btn-warning" style="cursor:pointer; margin: 0px 10px" (click)="revokeToken()">Revoke</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card text-center col-md-12" style="padding:0px; text-align: left; margin-top:10px">
            <h6 class="card-header">
                Console
            </h6>
            <div class="row">
                <div class="col-md-7" style="text-align: left">
                    <pre>
                        {{tokens}}
                    </pre>
                </div>
                <div class="col-1"
                    style="border-left: 1px solid lightgray; margin: 15px 0px; max-width: 2px; padding: 0px;">

                </div>
                <div class="col-md-4" style="text-align: left">
                    <pre>
                        {{response}}
                    </pre>
                </div>
            </div>

        </div>
    </div>
</div>